<div data-role="page" id="select-table">

  <div data-role="header" data-position="fixed">
    <h1>Café Carat</h1>
  </div>

  <div data-role="content">
     <div id="form-container">
        <%= form_tag('/receiveSelectedTable') do |f| %>

            <fieldset>

              <div data-role="fieldcontain" style="text-align: center;">
                <%= label_tag :tableNumberField, "Tisch auswählen:", :id => "table_number_field_label" %>
                <br/>
                <%= phone_field_tag :tableNumber, "", :id => "table_number_field", :class => "ui-input-text ui-body-c ui-corner-all ui-shadow-inset ui-focus" %>
              </div>

            </fieldset>

            <button type="submit" data-theme="a" name="submit" value="submit-value">Los</button>
            <!-- <a data-role="button" class="ui-btn-plain ui-btn ui-shadow ui-btn-corner-all ui-btn-up-c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Los</span></span></a> -->

        <% end %>
     </div>
  </div>
</div>


