  <div data-theme="a" data-role="header">
    <h3>
      Café Carat
    </h3>
  </div>
  <form action="">
    <div data-role="content">
      <div data-role="fieldcontain">
        <label for="textinput2">
          Tisch auswählen:
        </label>
        <input name="" id="textinput2" placeholder="" value="" type="number" data-mini="true" />
      </div>
      <input type="submit" data-inline="true" value="Los" data-mini="true" />
    </div>
  </form>
