<div data-role="page" id="show-order">

  <div data-role="header" data-position="fixed">
    <h1><%= @order.restaurant_table.caption %></h1>
    <%= link_to "Bezahlen", :selectTable %>
    <%= link_to "", {:controller => "add_order_item_workflow", :action => "selectCategory", :order_id => @order.id}, { "data-icon" => "plus", "data-iconpos" => "notext" } %>
  </div>

  <div data-role="content">

    <ul data-role="listview">
      <% @order.order_items.each do |order_item| %>
          <li>

          </li>
      <% end %>
    </ul>

  </div>
</div>

