<div data-role="page" id="select-product">

  <div data-role="header" data-position="fixed">
    <div class="header-box"><h3>Alle <%= @selectedCategory.caption %>:</h3></div>
  </div>


  <div data-role="content">

    <ul data-role="listview">
      <% @products.each do |product| %>
          <li>
            <%= link_to url_for(:controller => "add_order_item_workflow", :action => "receiveSelectedProduct", :product_id => product.id, :order_id => @orderId) do %>
                <h2><%= "Nr. #{product.number} - #{product.caption}" %></h2>
            <% end %>
          </li>
      <% end %>
    </ul>


  </div>
</div>

